// Custom Sass Styles for Bootstrap Template


// Colors
//
$white: 	#ffffff;
$blue: 		#0275d8;


// Grayscale
//
$gray-dark:                 #292b2c;
$gray:                      #464a4c;
$gray-light:                #636c72;
$gray-lighter:              #eceeef;
$gray-lightest:             #f3f3f3;


// Branding Colors
//
$brand-primary: $blue;


// Body
//
// Settings for the `<body>` element.

$body-bg:       $white !default;
$body-color:    $gray-dark !default;
$inverse-bg:    $gray-dark !default;
$inverse-color: $gray-lighter !default;


// Link Styles

$link-color:            $brand-primary !default;
$link-decoration:       none !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;


// Fonts

$font-family: "Lato", Arial, sans-serif;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:   1.25rem !default;
$font-size-sm:   .875rem !default;
$font-size-xs:   .75rem !default;


$font-size-hero-h1: 3.375rem;
$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.75rem;
$font-size-h4: 1.5rem;


$font-thin: 300;
$font-regular: 500;
$font-thick: 700;


//Spacers

$spacer-80: 5rem;
$spacer-30: 1.875rem;
$spacer-0: 0rem;



html {
  position: relative;
  min-height: 100%;
}


body {
 
}

p {
	font-family: $font-family;
	font-size: $font-size-base;
}


h1,h2,h3,h4 {
    font-family: $font-family;
}


h1 {
	font-size: $font-size-h1;
	font-weight: $font-thin;
}


.navbar {
  margin-bottom: $spacer-0;
}


.btn-primary {

} 


.top-hero {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: $spacer-80;
  background-color: $gray-lightest;
}

.top-hero h1 {
    font-size: $font-size-hero-h1;
    font-weight: $font-thin;
}

.top-hero p:last-child {
  margin-bottom: $spacer-0;
}

.top-hero .container {
  max-width: 40rem;
}


.blue-background {
	background-color: $blue;
	min-height: 400px;
}













.footer {
  margin-top: 80px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}













